main#home {
  position: relative;
  background-color: #fff;
}

#seccionNumeroUno {
  text-align: center;
  padding: 50px;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/fondoUno.webp");
  background-position: 0 75%;
  justify-content: center;
  display: flex;
  align-items: center;
  background-attachment: fixed;
  position: relative;
  top: -85px;
  height: 100vh;
}

#seccionNumeroUno h1 {
  color: rgb(250, 247, 247);
  font-size: 5rem;
  padding: 30px;
  font-weight: 600;
}

.slogan {
  font-size: 1.3rem;
  font-style: italic;
  color: #fff;
  margin-top: 10px;
  font-weight: 600;
}

#seccionNumeroDos {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

#seccionNumeroDos h3 {
  font-size: 3rem;
  margin-bottom: 50px;
}

#seccionNumeroDos p {
  max-width: 500px;
  min-width: 300px;
  text-align: justify;
}

#tituloquienes {
  font-size: 2rem;
}

.fotocarro {
  max-width: 800px;
  margin-left: 20px;
}

.fondoSeccionTres {
  background-image: url("/carbon_BG-20.png");
  background-color: #19191b;
  padding: 60px;
  margin-top: 100px;
}

#historico:before {
  padding-top: 280px !important;
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  display: block;
  z-index: 0;
}

#historico {
  position: relative;
  width: 100%;
  background-color: #19191b;
  background-image: url("/carbon_BG-20.png");
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 100px;
}

#historico img {
  position: relative;
  z-index: 1;
  display: block;
  margin: auto;
}

.container {
  max-width: 1200px;
  display: block;
  margin: auto;
}

#historico #titulo {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 6px;
  color: #e81c2e;
}

#historico p {
  font-size: 2rem;
  margin: 1rem 0;
}

#historico form {
  background-color: #19191b;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 100px 9fr 1fr;
  gap: 1rem;
  align-items: center;
}

#historico form label {
  display: block;
  text-align: left;
  margin: 1rem 0;
}

#historico form input {
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
}

#historico form button {
  background-color: #e81c2e;
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}

main table {
  background: white;
  width: 100%;
  border-collapse: collapse;
  border-radius: 7px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

main table thead tr th,
main table tbody tr td {
  padding: 1rem;
  text-align: left;
  border-bottom: 2px dotted #ccc;
}

#seccionNumeroCinco {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/fondoUno.webp");
  background-position: 0 75%;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; /*mantiene la img fija*/
  position: relative;
  height: 80vh;
}

#seccionNumeroCinco h3 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: white;
}
