main#home {
  position: relative;
  background-color: #fff;
}

.slogan {
  font-size: 1.3rem;
  font-style: italic;
  color: #fff;
  margin-top: 10px;
  font-weight: 600;
}

#seccionNumeroDos {
  background-color: #fff;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 15px;
}

#seccionNumeroDos h3 {
  font-size: 2rem;
  margin-bottom: 50px;
  font-weight: 500;
}

#seccionNumeroDos p {
  text-align: justify;
}

.fotocarro {
  max-width: 650px;
  margin-left: 20px;
}

.fondoSeccionTres {
  background-image: url("/carbon_BG-20.png");
  background-color: #19191b;
  padding: 60px;
  margin-top: 100px;
}

#historico:before {
  padding-top: 280px !important;
  content: "";
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 50px;
  display: block;
  z-index: 0;
}

#historico {
  position: relative;
  width: 100%;
  background-color: #19191b;
  background-image: url("/carbon_BG-20.png");
  color: white;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 100px;
}

#historico img {
  position: relative;
  z-index: 1;
  display: block;
  margin: auto;
}


#historico #titulo {
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 6px;
  color: #e81c2e;
}
#seccionNumeroCinco {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/fondoUno.webp");
  background-position: 0 75%;
  justify-content: center;
  align-items: center;
  background-attachment: fixed; /*mantiene la img fija*/
  position: relative;
  height: 80vh;
}

#seccionNumeroCinco h3 {
  font-size: 3rem;
  margin-bottom: 50px;
  color: white;
}
